<%= form_with(model: submission, local:true) do | form| %>
	<% if submissions.error.any?%>
		<div>
			<h2><%= pluralize(submissions.errors.count, "error")%></h2>
			<ul>

				<%= submission.errors.full_messages.each do |message| %>
					<%= message%>
				<%end%>
			</ul>
		</div>
	<% end%>
	<%= form.label :title %>
	<%= form.text_field :title %>
	<%= form.label :body %>
	<%= form.text_field :body %>
	<%= form.submit%>
<% end%>
